<!DOCTYPE html>
<html>
<head>
    <title>Tentang Kami</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/harga">Harga</a>
        <a href="/siswa">Data Siswa</a>
    </nav>
    
    <div class="container">
        <h1>Tentang Kami</h1>
        <p>UJIAN PRAKTEK.</p>
        <p>MATA KULIAH PRAKTIKUM TEKONOLOGI OPEN SOURCE.</p>
    </div>
</body>
</html>